<header>
    <h1>Welcom to ur <span class="underline">Message board</span></h1>
    <ul class="list-none">
        <li class="hover:underline cursor-pointer"><a href="/">Home</a></li>
        <li class="hover:scale-50 cursor-pointer"><a href="/message/new">New message</a></li>
    </ul>
</header>