<div class="w-96 mx-auto border-2 border-indigo-950 rounded-3xl p-5 mt-12 bg-indigo-400 text-white text-lg my-auto h-32 hover:shadow-black shadow-2xl">
    <h2 class="font-bold">Author : <%= msg.user %> </h2>
    <p>Text : <%= msg.text %></p>
    <p>Date : <%= msg.added %></p>
</div>